# Parameter defaults - beware 2

In [1]:
def add_item(name, quantity, unit, grocery_list):
    grocery_list.append('{0} ({1} {2})'.format(name, quantity, unit))
    return grocery_list

In [2]:
store1 = []
store2 = []

In [3]:
add_item('banana', 2, 'units', store1)
add_item('milk', 1, 'liter', store1)

['banana (2 units)', 'milk (1 liter)']

In [4]:
print(store1)

['banana (2 units)', 'milk (1 liter)']

In [5]:
add_item('python', 1, 'medium-rare', store2)

['python (1 medium-rare)']

In [6]:
print(store2)

['python (1 medium-rare)']

In [7]:
def add_item(name, quantity, unit, grocery_list=[]):
    grocery_list.append('{0} ({1} {2})'.format(name, quantity, unit))
    return grocery_list

In [8]:
del store1
del store2

In [9]:
store1 = add_item('banana', 2, 'units')
add_item('milk', 1, 'liter', store1)

['banana (2 units)', 'milk (1 liter)']

In [10]:
print(store1)

['banana (2 units)', 'milk (1 liter)']

In [11]:
store2 = add_item('python', 1, 'medium-rare')

In [12]:
print(store2)

['banana (2 units)', 'milk (1 liter)', 'python (1 medium-rare)']

In [13]:
print(store1)

['banana (2 units)', 'milk (1 liter)', 'python (1 medium-rare)']

In [14]:
store1 is store2

True

In [15]:
def add_item(name, quantity, unit, grocery_list=None):
    if not grocery_list:
        grocery_list = []
    grocery_list.append('{0} ({1} {2})'.format(name, quantity, unit))
    return grocery_list

In [16]:
store1 = add_item('banana', 2, 'units')
add_item('milk', 1, 'liter', store1)

['banana (2 units)', 'milk (1 liter)']

In [17]:
print(store1)

['banana (2 units)', 'milk (1 liter)']

In [18]:
store2 = add_item('python', 1, 'medium-rare')

In [19]:
print(store2)

['python (1 medium-rare)']

In [20]:
store1 is store2

False

In [21]:
def factorial(n):
    if n < 1:
        return 1
    else:
        print('calculating {0}'.format(n))
        return n * factorial(n-1)

In [22]:
factorial(3)

calculating 3
calculating 2
calculating 1

6

In [23]:
factorial(3)

calculating 3
calculating 2
calculating 1

6

In [24]:
cache = {}
def factorial(n, *, cache):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print('calculating {0}'.format(n))
        result = n * factorial(n-1, cache=cache)
        cache[n] = result
        return result

In [25]:
cache = {}

In [26]:
factorial(3, cache=cache)

calculating 3
calculating 2
calculating 1

6

In [27]:
print(cache)

{1: 1, 2: 2, 3: 6}

In [28]:
factorial(4, cache=cache)

calculating 4

24

In [29]:
def factorial(n, cache={}):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print('calculating {0}'.format(n))
        result = n * factorial(n-1, cache=cache)
        cache[n] = result
        return result

In [30]:
factorial(3)

calculating 3
calculating 2
calculating 1

6

In [31]:
factorial(3)

6

In [32]:
factorial(4)

calculating 4

24